{% extends 'base.html' %}

{% block title %}{{ movie.title }} - Details{% endblock %}

{% block body %}
<h1>{{ movie.title }}</h1>

<p>
  {{ movie.overview }}
</p>

<h2>Rate this movie</h2>
<form action="/rating" method="POST">
  <p>
    Rating:
    
    <input type="radio" name="rating" value= 1
         checked>
    <label for=1>1</label>
      <input type="radio" name="rating" value= 2
          checked>
    <label for=2>2</label>
    <input type="radio" name="rating" value= 3
         checked>
    <label for=3>3</label>
      <input type="radio" name="rating" value= 4
          checked>
    <label for=4>4</label>
    <input type="radio" name="rating" value= 5
         checked>
    <label for=5>5</label>
      
  </p>
  <p><input type="submit"></p>
  
</form>

<img src="{{ movie.poster_path }}">
{% endblock %}